.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}

/* Non-rounded border */
.btn.nr {
    border-radius: 0px;
}

/* Full width */
.btn.fw {
    width: 100%
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}