@import url("./fonts.css");

:root {
    --main-bg-color: #1a1a1a;
    --main-bg-offset-color: #171616;
    --main-bg-offset-color-2: #242323;
    --main-bg-offset-color-3: #2e2d2d;
    --main-font: "Nunito", sans-serif;
    --main-font-cursive: "Pacifico", cursive;
    --main-color-white: #fafafa;
    --main-color-black: #1a1a1a;
    --main-color-active: #9155a8;
    --main-color-offset-active: #bf93cf;
    --main-color-offset-seccondary-active: #893da5;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

a:not(.nav-link-active, .nav-link-active-seccondary):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--main-color-offset-active);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
    transition: 0.35s;
}

.hamburger:hover * {
    background-color: var(--main-color-active);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color-white);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--main-color-white);
}

.nav-link-active::after {
    content: "";
    float: left;
    background: var(--main-color-offset-active);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.nav-link-active-seccondary::after {
    content: "";
    float: left;
    background: var(--main-color-offset-seccondary-active);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--main-color-white);
}

.nav-transition {
    transition: 0.35s;
}

.nav-transition:hover {
    color: var(--main-color-active);
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh;
}

.divround {
    width: 510px;
    margin: auto;
    padding: 19px;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
    text-align: center;
}

.circular {
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
    background-size: cover;
    display: inline-block;
    width: 250px;
    height: 250px;
}

.footer {
    /*background-color: #b891c7;*/
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h2 {
    background-color: var(--main-bg-offset-color-2);
    border-radius: 2rem;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0.1rem 1rem;
}

.footer a {
    /*color: white;*/
    text-decoration: none;
}

.footer a:hover,a:visited {
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer {
        position: relative;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--main-bg-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        border: 0rem;
        border-bottom: 0.5rem;
        border-color: var(--main-color-active);
        border-style: solid;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}