@import url("./fonts.css");

:root {
    --main-bg-color: #1a1a1a;
    --main-bg-offset-color: #171616;
    --main-bg-offset-color-2: #242323;
    --main-bg-offset-color-3: #2e2d2d;
    --main-font: "Nunito", sans-serif;
    --main-font-cursive: "Pacifico", cursive;
    --main-color-white: #fafafa;
    --main-color-black: #1a1a1a;
    --main-color-active: #9155a8;
    --main-color-offset-active: #bf93cf;
    --main-color-offset-seccondary-active: #893da5;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

a:link,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

a:not(.nav-link-active, .nav-link-active-seccondary):before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--main-color-offset-active);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
    transition: 0.35s;
}

.hamburger:hover * {
    background-color: var(--main-color-active);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color-white);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--main-color-white);
}

.nav-link-active::after {
    content: "";
    float: left;
    background: var(--main-color-offset-active);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.nav-link-active-seccondary::after {
    content: "";
    float: left;
    background: var(--main-color-offset-seccondary-active);
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--main-color-white);
}

.nav-transition {
    transition: 0.35s;
}

.nav-transition:hover {
    color: var(--main-color-active);
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh;
}

.divround {
    width: 510px;
    margin: auto;
    padding: 19px;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
    text-align: center;
}

.circular {
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
    background-size: cover;
    display: inline-block;
    width: 250px;
    height: 250px;
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    margin-left: 13px;
    width: 350px;
}

.progress-bar {
    box-shadow: 0 10px 18px -17px var(--main-color-active);
    border-radius: 100px;
    background-color: var(--main-color-active);
    width: 0;
    transition: width 0.3s ease-in-out;
    height: 10px;
}

.progress-bar.error {
    box-shadow: 0 10px 18px -17px rgb(223, 43, 43);
    background-color: rgb(223, 43, 43);
}

.progress-bar.success {
    box-shadow: 0 10px 18px -17px rgb(45, 245, 122);
    background-color: rgb(45, 245, 122);
}

progress[value]::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}

progress[value]::-webkit-progress-value {
    border-radius: 100px;
    background: rgb(57, 206, 186);
}

progress[value]::-moz-progress-bar {
    border-radius: 100px;
    background: rgb(57, 206, 186);
}

progress[value]::-ms-fill {
    border-radius: 100px;
    background: rgb(57, 206, 186);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    display: flex;
    justify-content: center;
}

.grid-item {
    text-align: center;
    padding: 19px;
    border-radius: 0.5em;
    background-color: #4f5968;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
    text-align: center;
    width: 150px;
    max-width: 100%;
    color: white;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    background: #2d2828;
    text-decoration: none;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-offset-color-3);
}

.card h1 {
    font-size: 20px;
    margin: 0;
    color: white;
}

.card p {
    flex: 1;
    line-height: 1.4;
}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 60em) {
    .item-large {
        grid-column: 1 / span 2;
    }

    .item-large h1 {
        font-size: 24px;
    }
}

.footer {
    /*background-color: #b891c7;*/
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer h2 {
    background-color: var(--main-bg-offset-color-2);
    border-radius: 2rem;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 0.1rem 1rem;
}

.footer a {
    /*color: white;*/
    text-decoration: none;
}

.footer a:hover,a:visited {
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer {
        position: relative;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--main-bg-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        border: 0rem;
        border-bottom: 0.5rem;
        border-color: var(--main-color-active);
        border-style: solid;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}