:root {
  --status-offline: #747f8d;
  --status-online: #3ba55d;
  --status-idle: #faa81a;
  --status-dnd: #ed4245;
}

.status.icon {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  display: inline-block;
}

.status.offline {
  color: var(--status-offline);
}
.status.bg.offline {
  background-color: var(--status-offline);
}

.status.online {
  color: var(--status-online);
}
.status.bg.online {
  background-color: var(--status-online);
}

.status.idle {
  color: var(--status-idle);
}
.status.bg.idle {
  background-color: var(--status-idle);
}

.status.dnd {
  color: var(--status-dnd);
}
.status.bg.dnd {
  background-color: var(--status-dnd);
}